<div class="container2">
    <div class="ball"></div>
  </div>

<section class="section contact" id='contact'>
    
    <div class="container">
        <div class="section-box">
            <div class="mb-4" data-aos="fade-up" data-aos-duration="1000">
                <h3 class="contact-pre-title big-subtitle">05. "What’s Next"</h3>
                <h4 class="e-font contact-title big-title">
                    "Get in touch!"
                    
                </h4>
                <i class="fas fa-paper-plane"></i>
            </div>
            <p data-aos="fade-up" data-aos-duration="1000">
                "I hope this message finds you well. I wanted to reach out and share my portfolio with you. 
                I've been working on some exciting projects that I believe align with your interests.
                 I would love to discuss potential collaboration or hear your thoughts on my work. 
                 Please feel free to get in touch at your convenience.",
            </p>
            <div class="mt-5">
                <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "contact", "email")' href="jothikaperumal2001@gmail.com" target="_blank" class="main-btn" data-aos="fade-up" data-aos-duration="1000">
                    "Say Hello"
                </a>
            </div>
        </div>
    </div>
   
</section>
